* {
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 70px;
  color: white;
}

.menu {
  background-image: url("../resources/img/building.png");
  background-size: cover;
}

.menu a {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
  font-weight: normal;
}

.background h3 {
  background-image: url("../resources/img/building.png");
  font-size: 23px;
  color: white;
}

.footer p, .footer a {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
